<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635216348694-nb5rned94hrtk8q4h9mn1t5kf9beronp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635216348694-nb5rned94hrtk8q4h9mn1t5kf9beronp</string>
	<key>API_KEY</key>
	<string>AIzaSyAY6cg3QRNSz-YeXCAl2T5yDswsXH8ks4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>635216348694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.square</string>
	<key>PROJECT_ID</key>
	<string>test-square-45769</string>
	<key>STORAGE_BUCKET</key>
	<string>test-square-45769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635216348694:ios:ca33d889e8134f3d931737</string>
</dict>
</plist>